footer
    img.footer-logo(src="img/logo-footer.png")
    i.fa.fa-vk.fa-2x(aria-hidden="true")
    i.fa.fa-twitter.fa-2x(aria-hidden="true")
    i.fa.fa-odnoklassniki.fa-2x(aria-hidden="true")
    .phone
        .phone-number 8 (8172) 23-98-89
        button.btn.phone-btn_call Заказать звонок
    .address г. Вологда, <br> ул. Благовещенская, д. 102
    img.aitek(src="img/aitek.png")
script(type='text/javascript', src='js/jquery.min.js')
script(type='text/javascript', src='js/jquery.pagepiling.min.js')
script(type='text/javascript', src='js/app.js')  