doctype html
html(lang="ru")
head
  link(rel="stylesheet", href="css/template-style.css")
  link(rel="stylesheet", href="css/font-awesome.min.css")
  meta(charset="UTF-8")
  title СУ-24
body
  header
    img.logo(src="img/logo.png")
    .phone
      .phone-number 8 (8172) 23-98-89
      button.btn.phone-btn_call Заказать звонок
  block content          