doctype html
html(lang="ru")
head
  link(rel="stylesheet", href="css/font-awesome.min.css")
  link(rel="stylesheet", href="css/jquery.pagepiling.css")
  link(rel="stylesheet", href="css/template-style.css")
  meta(charset="UTF-8")
  title СУ-24
body
  header.white
    a(href="index.html")
      img.logo(src="img/logo-white.png")
    .burger
    .phone
      .phone-number 8 (8172) 23-98-89
      button.btn.phone-btn_call__white Заказать звонок
  block content          