#left-menu
  .close
  ul
    h4 меню
    .horline
    li 
      a(href="#") о проекте
    li 
      a(href="#") план
    li 
      a(href="#") Жилая недвижимость
    li 
      a(href="#") Коммерческая недвижимость
    li 
      a(href="#") галерея
    li 
      a(href="#") этапы строительства
    li 
      a(href="#") способы приобретения
    li 
      a(href="documentation.html") проектные документы
    li 
      a(href="contacts.html") контакты
    li
      a.map карта сайта
  .back
#popup
  .text
    h1 парк мира
    p Парк &nbsp; Инфраструктура &nbsp; Дизайн &nbsp; квартир &nbsp; Паркинг &nbsp; Бассейн &nbsp; Магазины
  .popup-map    
    .popup-map-icons
      a(href="#").popup-map-icons--item
        img(src="img/svg/about project.svg", alt="")
        p О проекте
      a(href="#").popup-map-icons--item
        img(src="img/svg/plan.svg", alt="")
        p План застройки
      a(href="#").popup-map-icons--item
        img(src="img/svg/design.svg", alt="")
        p Дизайн квартир
      a(href="#").popup-map-icons--item
        img(src="img/svg/commercial.svg", alt="")
        p Коммерческая недвижимость
      a(href="#").popup-map-icons--item
        img(src="img/svg/crane (1).svg", alt="")
        p этапы строительства
      a(href="#").popup-map-icons--item
        img(src="img/svg/gallery.svg", alt="")
        p галерея
      a(href="#").popup-map-icons--item
        img(src="img/svg/purchase.svg", alt="")
        p способы приобретения
      a(href="#").popup-map-icons--item
        img(src="img/svg/information (1).svg", alt="")
        p вопрос-ответ
      a(href="#").popup-map-icons--item
        img(src="img/svg/calendar.svg", alt="")
        p календарь событий
      a(href="documentation.html").popup-map-icons--item
        img(src="img/svg/doc.svg", alt="")
        p проектные документы
      a(href="contacts.html").popup-map-icons--item
        img(src="img/svg/contacts.svg", alt="")
        p контакты
      .popup-map-icons--item-trans
        img(src="img/close2.png", alt="")