#left-menu
  .close
  ul
    h4 меню
    .horline
    li 
      a(href="") о проекте
    li 
      a(href="") план
    li 
      a(href="") Жилая недвижимость
    li 
      a(href="") Коммерческая недвижимость
    li 
      a(href="") галерея
    li 
      a(href="") этапы строительства
    li 
      a(href="") способы приобретения
    li 
      a(href="") контакты
    li
      a.map карта сайта
  .back
#popup
  .text
    h1 парк мира
    p Парк &nbsp; Инфраструктура &nbsp; Дизайн &nbsp; квартир &nbsp; Паркинг &nbsp; Бассейн &nbsp; Магазины
  .popup-map    
    .popup-map-icons
      .popup-map-icons--item
        img(src="img/icon.png", alt="")
        p О проекте
      .popup-map-icons--item
        img(src="img/icon.png", alt="")
        p План застройки
      .popup-map-icons--item
        img(src="img/icon.png", alt="")
        p Дизайн квартир
      .popup-map-icons--item
        img(src="img/icon.png", alt="")
        p Коммерческая недвижимость
      .popup-map-icons--item
        img(src="img/icon.png", alt="")
        p этапы строительства
      .popup-map-icons--item
        img(src="img/icon.png", alt="")
        p галерея
      .popup-map-icons--item
        img(src="img/icon.png", alt="")
        p способы приобретения
      .popup-map-icons--item
        img(src="img/icon.png", alt="")
        p вопрос-ответ
      .popup-map-icons--item
        img(src="img/icon.png", alt="")
        p календарь событий
      .popup-map-icons--item
        img(src="img/icon.png", alt="")
        p проектные документы
      .popup-map-icons--item
        img(src="img/icon.png", alt="")
        p контакты
      .popup-map-icons--item-trans
        img(src="img/close2.png", alt="")