.font-white {
  color: #fff !important;
}
.font-black {
  color: #000 !important;
}
.font-blue {
  color: #00f !important;
}
.font-darkblue {
  color: #00008b !important;
}
.font-active {
  color: active !important;
}
.font-bold {
  font-weight: bold !important;
  font-family: "RobotoBold" !important;
}
.font-normal {
  font-weight: normal !important;
  font-family: "RobotoRegular" !important;
}
.font-xs {
  font-size: 50%;
}
.font-s {
  font-size: 80%;
}
.font-l {
  font-size: 100%;
}
.font-xl {
  font-size: 120%;
}
.font-xxl {
  font-size: 150%;
}
.font-italic {
  font-style: italic;
}
.ttu {
  text-transform: uppercase !important;
}
.tdu {
  text-decoration: underline;
}
.ttn {
  text-transform: none !important;
}
.tac {
  text-align: center !important;
}
.tal {
  text-align: left !important;
}
.taj {
  text-align: justify !important;
}
.tar {
  text-align: right !important;
}
.full {
  width: 100% !important;
}
.large {
  width: 66.66% !important;
}
.small {
  width: 33.33% !important;
}
.semi {
  width: 50% !important;
}
.wrap {
  -webkit-flex-wrap: wrap !important;
      -ms-flex-wrap: wrap !important;
          flex-wrap: wrap !important;
}
.center {
  margin: 0 auto;
}
.clear {
  clear: both !important;
}
.fl {
  float: left !important;
}
.fr {
  float: right !important;
}
.active {
  background: active;
}
.none {
  display: none !important;
}
.opacity {
  opacity: 0 !important;
}
.static-page h1,
.static-page h2,
.static-page h3,
.static-page h4,
.static-page h5,
.static-page h6 {
  font-family: "GothamProRegular";
  text-transform: uppercase;
}
.static-page h1 {
  color: #00f;
  font-weight: 600;
  margin: 15px 0;
}
.static-page h2 {
  color: #00f;
  font-weight: 600;
  margin: 10px 0;
}
.static-page h3 {
  font-weight: 400;
  font-size: 22px;
  margin: 5px 0;
  font-weight: 600;
}
.static-page h4 {
  font-weight: 600;
  font-size: 20px;
  text-transform: none;
  margin: 5px 0;
}
.static-page h5 {
  font-weight: 600;
  font-size: 18px;
  text-transform: none;
  margin: 5px 0;
}
.static-page h6 {
  font-weight: 600;
  font-size: 16px;
  text-transform: none;
  margin: 5px 0;
}
.static-page p {
  text-align: left;
}
.static-page img {
  margin: 10px 0;
  border: img-b;
}
.static-page img.fl {
  margin-right: 25px;
}
.static-page img.fr {
  margin-left: 25px;
}
.static-page .float-center {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: top;
      -ms-flex-align: top;
          align-items: top;
}
@media screen and (max-width: 768px) {
  .static-page .float-center {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}
.static-page .float-center img {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  height: 100%;
  margin: 25px;
}
@media screen and (max-width: 768px) {
  .static-page .float-center p {
    width: 100%;
  }
}
@import "../fonts/roboto/roboto.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  background: url("../img/main-bg.jpg") 50% 0 no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  overflow: hidden;
}
.line {
  position: fixed;
  width: 10px;
  height: 110%;
  top: -5%;
  background: #fff;
  z-index: 9;
  left: calc(50% - 7px);
  -webkit-transform: rotate(-9deg);
      -ms-transform: rotate(-9deg);
          transform: rotate(-9deg);
}
.commercial,
.residential {
  width: 200%;
  height: 110vh;
  -webkit-transform: rotate(-9deg);
      -ms-transform: rotate(-9deg);
          transform: rotate(-9deg);
  top: 0;
  text-align: center;
  line-height: 20;
  margin: -5vh 0.3%;
  position: relative;
}
.commercial::after {
  transition: all 1s;
  transition-delay: 0.2s;
  content: '';
  position: absolute;
  left: -20%;
  top: -5%;
  background: rgba(241,255,199,0.7);
  width: 120%;
  height: 110%;
  display: block;
}
.commercial::before {
  transition: all 1s;
  transition-delay: 0.2s;
  content: '';
  background: #fff;
  width: 7px;
  height: 62vh;
  display: block;
  position: absolute;
  right: 12px;
  top: 0;
}
.commercial:hover::after {
  transition-delay: 0s;
  top: 150%;
}
.commercial:hover::before {
  transition-delay: 0s;
  top: -100vh;
}
.residential::after {
  transition: all 1s;
  transition-delay: 0.2s;
  content: '';
  position: absolute;
  top: -5%;
  right: -20%;
  background: rgba(241,255,199,0.7);
  width: 120%;
  height: 110%;
  display: block;
}
.residential::before {
  transition: all 1s;
  transition-delay: 0.2s;
  content: '';
  background: #fff;
  width: 7px;
  height: 62vh;
  display: block;
  position: absolute;
  left: 8px;
  bottom: 0;
}
.residential:hover::after {
  top: -120%;
}
.residential:hover::before {
  bottom: -130vh;
}
h1 {
  font-family: "roboto";
}
/*# sourceMappingURL=app/stylus/template-style.css.map */
/*# sourceMappingURL=template-style.css.map */