@import "variables.styl"
@import "helpers.styl"
@import "../fonts/roboto/roboto.css"

*
  margin: 0
  padding: 0
  box-sizing border-box
 a
   text-decoration: none
.burger
  size (37px 37px)
  background: url('../img/menu.png') no-repeat 50%
  border-radius 50%
  box-shadow 0 2px 2px 2px #000
  cursor pointer
  transition animation
  position absolute
  left 25%
  &:hover
    box-shadow 0 2px 7px 2px #000
.btn
  background: transparent
  border 2px solid green
  border-radius 5px
  padding: 5px 10px
  color black
  font-family: 'Roboto';
  font-size normal
  cursor: pointer
  transition animation
  &:hover
    background: green
    color: #fff
header
  position: fixed
  width: 100%
  z-index: 10
  top: 35px
  left: 0
  display: flex
  justify-content: space-around
  align-items: center
  &.white
    color #fff
    text-shadow: 2px 2px 2px #000
    a
      position absolute
      left 8%
  .phone
    position absolute
    right 8%
  a
    position absolute
    left 8%
img.logo
  z-index: 10
.phone
  display: flex
  align-items: center
  &-number
    font-family: 'Roboto';
    font-size x-large
    font-weight: 500
    margin: 0 20px
  &-btn
    &_call
      &__white
        @extend .btn:hover
        &:hover
          background: transparent
.main
  background: url(../img/main-bg.jpg) 50% 0 no-repeat
  background-size cover
  width: 100%
  height: 100vh
  top: 0
  left: 0
  position: fixed
  display flex
  justify-content space-around
  overflow hidden
.line
  position fixed
  width 10px
  height 110%
  top -5%
  background #fff
  z-index 9
  left calc(50% - 7px)
  transform rotate(-9deg)
.link
  transform rotate(9deg)
  position: absolute
  z-index: 1
  left: 20%
  width: 75%
  top: 33%
  color: green
  font-family: 'Roboto'
  text-transform: uppercase
  transition animation
  p
    font-size normal
    padding-bottom: 5px
    border-bottom 2px solid green
    &.bw
      border-color #fff
  h1
    font-size xxx-large
    font-weight: 800
  h2
    font-size xx-large
    font-weight: 600

.commercial, .residential
  width 200%
  height 110vh
  transform rotate(-9deg)
  top 0
  margin -5vh .3%
  position relative
.commercial //left
  &::after
    transition all 1s
    transition-delay .2s
    content ''
    position absolute
    left -20%
    top -5%
    background rgba(241,255,199,0.7)
    width 120%
    height 110%
    display block
  &::before
    transition all 1s
    transition-delay .2s
    content: ''
    background: #ffffff
    width: 7px
    height: 62vh
    display: block
    position: absolute
    right: 12px
    top: 0
  &:hover::after
    transition-delay 0s
    top 150%
  &:hover::before
    transition-delay 0s
    top -100vh
.residential
  .link
    left: 10%
    top: 50%
    text-align: right
    width: 75%
    p
      border-bottom: 0
      padding-bottom: 0
      padding-top: 5px
      margin-top: 5px
      border-top: 2px solid green
      &.bw
        border-color #fff
  &::after
    transition all 1s
    transition-delay .2s
    content ''
    position absolute
    top -5%
    right -20%
    background rgba(241,255,199,0.7)
    width 120%
    height 110%
    display block
  &::before
    transition all 1s
    transition-delay .2s
    content: ''
    background: #ffffff
    width: 7px
    height: 62vh
    display: block
    position: absolute
    left: 8px
    bottom: 0
  &:hover::after
    top -120%
  &:hover::before
    bottom -130vh
footer
  display: flex
  width: 100%
  justify-content: center
  align-items: center
  position: fixed
  z-index: 1
  padding: 20px
  left: 0
  bottom: 0
  background: #fff
  .footer-logo, .aitek
    margin: 0 20px
    width: 10%
  .footer-logo
    size (162px 28px)
  .aitek
    size (86px 23px)
  .phone-number
    color: gray
  .btn
    color gray
  .address
    color gray
    font-family: 'roboto'
    width: 13em
    margin: 0 0 0 20px
h1
  font-family: "roboto"
i
  color gray
  margin: 0 10px
  cursor: pointer
  transition animation
  &:hover
    color darkgray
#pp-nav
  li
    size (15px 20px)
  .active
    span
      background: green !important
  span
    size (15px 15px)
    border: 1px solid #fff !important;
  
#section1
  background: url('../img/res-bg1.jpg') no-repeat 50%
  background-size cover
#section2
  background: url('../img/res-bg2.jpg') no-repeat 50%
  background-size cover
  &.commer
    background: url('../img/res-bg5.jpg') no-repeat 50%
    background-size cover
    .intro
      width 27em
      cursor pointer
      position absolute
      right 15%
      bottom 15%
.intro
  width 11em
  cursor pointer
  position absolute
  right 15%
  bottom 15%
  h2
    text-align center
  h3
    text-align center
  &:hover
    & > h3:after
      bottom: -1.8em
  h2
    font-family "roboto"
    font-size xx-large
    color #ccc
    text-transform uppercase
    text-shadow: 2px 2px 2px #000
    margin-bottom 5px
  h3
    font-family "roboto"
    font-size 23px
    color #fff
    text-transform uppercase
    border-bottom 2px solid #fff
    position relative
    text-shadow: 2px 2px 2px #000
    padding-bottom 5px
    &:after
      content "\FE40"
      position absolute
      bottom -1.4em
      left: calc(50% - .5em)
      font-size xx-large
      transition animation
#section3
  background: url('../img/res-bg3.jpg') no-repeat 50%
  background-size cover
  &.commer
    background: url('../img/res-bg6.jpg') no-repeat 50%
    background-size cover
    .intro
      width 22em
      cursor pointer
      position absolute
      right 15%
      bottom 15%
  .intro
    width 18em
    h2
      text-align center
#section4
  background: url('../img/res-bg4.jpg') no-repeat 50%
  background-size cover
  &.commer
    background: url('../img/res-bg7.jpg') no-repeat 50%
    background-size cover
    .intro
      width 27em
      cursor pointer
      position absolute
      right 15%
      bottom 15%
  .intro
    width 18em
    h2, h3
      text-align center
#left-menu
  position fixed
  z-index 9
  width 33%
  height 100%
  left -100%
  top 0
  background: url('../img/menu-block.png') right
  background-size cover
  transition animation
  &.open
    left 0
  .close
    size (37px 37px)
    border-radius 50%
    background: url('../img/close.png')
    position absolute
    top 15px
    right 5%
    cursor pointer
    box-shadow 0 2px 2px 2px #000
    &:hover
      box-shadow 0 2px 7px 2px #000
  ul
    margin-top 7em
    width 60%
    margin-left 17%
    h4
      color #fff
      font-size x-large
      text-align center
      font-family "roboto"
      text-transform uppercase
    .horline
      width 10em
      height 2px
      background: #fff
      margin 0 auto
      margin-top .5em
      margin-bottom 1em
    li
      text-align center
      list-style none
      &:nth-last-child(1)
        border-bottom 1px solid #fff
        width 9em
        margin 0 auto
      a
        color #fff
        font-size normal
        font-family "roboto"
        text-transform uppercase
        line-height 1.7
        transition animation
        &.map
          cursor pointer
        &:hover
          color green
#popup
  position fixed
  top 0
  width 100%
  height 100%
  background: rgba(0,0,0, .7)
  z-index 101
  .text
    display -webkit-flex
    display -moz-flex
    display -ms-flex
    display -o-flex
    display flex
    flex-direction column
    position absolute
    top calc(50% - 4em)
    transform rotate(-90deg)
    h1, p
      color #fff
      font-size xxx-large
      width 9em
      font-family 'roboto'
      font-weight 400
      text-transform uppercase
      text-align center
    p
      font-size normal
      width auto
      font-size 14px
  .popup-map
    width 60%
    margin 10vh 25%
    height 80vh
    &-icons
      display -webkit-flex
      display -moz-flex
      display -ms-flex
      display -o-flex
      display flex
      flex-wrap wrap
      justify-content space-around
      width 100%
      &--item
        width 22%
        background: lightgreen
        border-radius 10px
        margin 10px 5px
        display -webkit-flex
        display -moz-flex
        display -ms-flex
        display -o-flex
        display flex
        flex-direction column
        align-items center
        justify-content center
        cursor pointer
        transition animation
        img
          width 50%
        &:hover
          background: orange
        p
          margin-top 10px
          color #fff
          text-align center
          font-family 'roboto'
          text-transform uppercase
        &-trans
          background: transparent
          width 22%
          margin 10px 5px
          display -webkit-flex
          display -moz-flex
          display -ms-flex
          display -o-flex
          display flex
          align-items center
          justify-content center
          cursor pointer
          transition animation
          border-radius 10px
          img
            width auto
            &:hover
              width auto
          &:hover
            background: orange
.docs
  width 100%
  margin-top 15vh
  img
    width 100%
    transition animation
    &:hover
      width 110%
      margin-bottom -15%
  .burger
    size (37px 37px)
    background: url('../img/menu_green.png') no-repeat 50%
    border-radius 50%
    box-shadow 0 2px 2px 2px #000
    cursor pointer
    transition animation
    position absolute
    left 25%
    top 20px
    &:hover
      box-shadow 0 2px 7px 2px #000
  h2
    font-family "Roboto"
    color darkgray
    font-size x-large
    text-align center
    text-transform uppercase
    margin-bottom 25px
  h3
    font-family "Roboto"
    color lightgreen
    font-size normal
    text-align center
    text-transform uppercase
    font-weight 400
  .corp
    display -webkit-flex
    display -moz-flex
    display -ms-flex
    display -o-flex
    display flex
    justify-content space-between
    width 60%
    margin 30px auto
    &:nth-last-child(1)
      justify-content center
    &-item
      display -webkit-flex
      display -moz-flex
      display -ms-flex
      display -o-flex
      display flex
      flex-direction column
      justify-content center
      align-items center
      width 33.33%
      margin 25px 0
      a
        color darkgray
        text-transform none
        transition animation
        &:hover
          color lightgreen
.contact
    display -webkit-flex
    display -moz-flex
    display -ms-flex
    display -o-flex
    display flex
    justify-content space-between
    width 60%
    margin 30px auto
    &-map, &-text
      width 50%
    &-map
      position absolute
      size (45% 45%)
      left 8%
      top 30%
      background url('../img/map.jpg')
      background-size cover
    &-text
      font-family 'roboto'
      font-size normal
      width 30%
      position absolute
      top 30%
      right 15%
.font-lightgreen
  color lightgreen
#popup-2
  @extend #popup
form
  width 33.33%
  min-height 200px
  background: #fff
  margin 20vh auto
  padding 25px 15px
  position relative
  h2
    color green
    font-family "roboto"
    text-transform uppercase
    font-weight 400
    text-align center
    margin-bottom 10px
  p 
    font-weight 600
    text-align center
    font-family "roboto"
    margin-bottom 35px
    &.second
      margin-top 50px
  input, .submit
    display block
    width 80%
    margin 20px auto
    height 30px
    text-align center
    font-family "roboto"
    font-size normal
    border-radius 5px
    color gray
    border 2px solid gray
    transition animation
    &.btn
      height 39px
      &:hover
        color gray
    &:hover
      box-shadow 0 0 5px 0px gray
    &:focus
      box-shadow 0 0 5px 0px green  
  .submit
    @extend .phone-btn_call__white
    background: lightgreen
    border: 2px solid lightgreen
    height 35px
    line-height 30px
    color #fff
    cursor pointer
    &:hover
      color gray
  .close, .close-2
    size (31px 31px)
    background: url('../img/close3.png')
    position absolute
    right 5px
    top 5px
    cursor pointer
    border-radius 50%
    transition animation
    &:hover
      box-shadow 0 0 2px 1px gray