lightgreen = #11cf02
green = #14852c
gray = #909090
orange = #df7c08
darkgray = #555656
black = #303030
large = 22px
x-large = 24px
xx-large = 36px
xxx-large = 60px
normal = 18px
animation = all .5s ease

//****MIXINs
media(maxWidth)
    @media screen and (max-width: maxWidth)
        {block}
size(width, height)
	width width
	height height