lightgreen = #54ff47
green = #14852c
gray = #909090
darkgray = #555656
black = #303030

//****MIXINs
media(maxWidth)
    @media screen and (max-width: maxWidth)
        {block}
size(width, height)
	width width
	height height