extends include/header
block content
    .docs
        .burger
        h2 Контакты
        .contact
            .contact-map
            .contact-text
                <br>
                p <span class="font-lightgreen">Адрес</span> г. Вологда, <br> ул. Благовещенская, д. 102
                <br>
                p <span class="font-lightgreen">Телефон</span> 8 (8172) 23-98-89
                <br>
                p <span class="font-lightgreen">E-mail</span> mail@
                <br>
                p Мы в социальных сетях: <br> 
                i.fa.fa-vk.fa-2x(aria-hidden="true")
                i.fa.fa-twitter.fa-2x(aria-hidden="true")
                i.fa.fa-odnoklassniki.fa-2x(aria-hidden="true")
                <br>
                <br>
                a Как до нас добраться?
        include include/left-menu
    include include/footer
