extends include/header
block content
    .docs
        .burger
        h2 Проектная документация
        h3 корпус 1
            .corp
                .corp-item
                    a(href="declaration/declaration.doc")
                        img(src="img/doc.jpg", alt="")
                    a(href="declaration/declaration.doc") Проектная декларация 06.12.2016
                .corp-item
                    a(href="declaration/declaration.doc")
                        img(src="img/doc.jpg", alt="")
                    a(href="declaration/declaration.doc") Проектная декларация 06.12.2016
                .corp-item
                    a(href="declaration/declaration.doc")
                        img(src="img/doc.jpg", alt="")
                    a(href="declaration/declaration.doc") Проектная декларация 06.12.2016
        h3 корпус 2
            .corp
                .corp-item
                    a(href="declaration/declaration.doc")
                        img(src="img/doc.jpg", alt="")
                    a(href="declaration/declaration.doc") Проектная декларация 06.12.2016
                .corp-item
                    a(href="declaration/declaration.doc")
                        img(src="img/doc.jpg", alt="")
                    a(href="declaration/declaration.doc") Проектная декларация 06.12.2016
        include include/left-menu
    include include/footer
