extends include/header
block content

  .main
    a.commercial(href="#")
        .link
            p Магазины, удобные офисные помещения
            h1 Коммерческая
            h2 НЕДВИЖИМОСТЬ
    .line
    a.residential(href="#")
        .link
            h1 Жилая
            h2 НЕДВИЖИМОСТЬ
            p Удобные планировки, современные интерьеры

  include include/footer
