extends include/header-pages
block content
    #pagepiling
      #section1.section
      #section2.section
        .intro
          h2 Двор без
          h3 автомобилей
      #section3.section
        .intro
          h2 Парковка
          h3 более, чем на 250 мест
      #section4.section
        .intro
          h2 Охраняемая
          h3 территория с видеонаблюдением

    include include/left-menu
    include include/footer-pages