@font-face {
    font-family: 'Coolvetica';
    src: local('CoolveticaRg-Regular'), url('coolveticarg-regular.woff2') format('woff2'), url('coolveticarg-regular.woff') format('woff'), url('coolveticarg-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
